<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--注释：对于非UI线程的异常使用早期版本的异常处理策略。捕获到后程序不退出-->
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Domain" value="0.0.0.0" />
    <add key="APIPort" value="6001" />
    <add key="ShowLogo" value="false"/>
    <add key="ScreenIndex" value="0"/>
    <add key="UseInputSize" value="false"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>