<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--注释：对于非UI线程的异常使用早期版本的异常处理策略。捕获到后程序不退出-->
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ServerPath" value="ws://192.168.1.120:8102/ws/" />
    <!--<add key="ServerPath" value="ws://59.202.68.66:8102/ws/" />-->
    <add key="Width" value="452" />
    <add key="Height" value="630" />
    <add key="right" value="100" />
    <add key="bottom" value="50" />
    <add key="guid" value="1920112" />
    <add key="picPath" value="tempPic" />
    <add key="UploadImageURL" value="http://192.168.1.120:8123/housekeeper/grid-community/updateFile" />
    <!--<add key="UploadImageURL" value="http://59.202.68.224:9999/housekeeper/grid-community/updateFile" />-->
    <add key="appKey" value="cb821835-82be-43ee-ba94-1588967ea427" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>